# Node.js dependencies
/node_modules
/functions/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firestore-debug.log

# Build output folder
/dist

# --- CRITICAL: SECRET FILES ---
# This line tells Git to ignore your API key file
.env
/functions/.env
